/* Text style */

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Text Weight */
.thin, .bold, bolder {
    font-family: Arial, Helvetica, sans-serif;

}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font size */

.small {
    font-size: 6px;
}

.big {
    font-size: 80px;
}

/* Display */

.inline-box {
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    margin: 10px;
    display: inline-block;
}
.block {
    background-color: blue;
    display: block;
    margin: 10px;
}

/* Escondendo o elemento*/

.invisible {
    display: none;
}

