/* Static */

.static {
    position: static;
    background-color: aqua;
    color: black;
    width: 50px;
    height: 80px;
}

/* Não muito utilizado por acontecer 
do elemento ficar por cima, precisa ser utilizado 
o top,left,right */

.relative {
    position: relative;
    background-color: rgb(78, 60, 78);
    color: rgb(69, 241, 120);
    width: 100px;
    height: 100px;
    top: 50px;
    left: 80px;
}

/* ABSOLUTE */

.absolute {
    position: absolute;
    background-color: rgb(24, 30, 82);
    color: rgb(75, 129, 165);
    width: 100px;
    height: 100px;
    top: 5px;
    right: 8px;
}

/* relative e absolute */

.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1 ,
.absolute-2{
    width: 50px;
    height: 50px;
    background-color: rgb(14, 12, 12);
    position: absolute;
}

.absolute-1{
    top: 10px;
    left: 10px;
}

.absolute-2{
    bottom: 10px;
    right: 10px;
}
